[init]
  defaultBranch = main
[user]
  name = Max Prokopiev
  email = maxprokopiev@github.com
[format]
  pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset
[core]
  autocrlf = false
  editor = vim
  excludesfile = ~/.gitignore
